*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url("images/satnik2_upscaled.png") no-repeat center center  / cover;

}

h2 {
    font-size: 1.5rem;
    width: 60vh;
    text-align: center;
}

form{
    font-size: 1rem;
}
.container {
    background: white;
    height: 90vh;
    width: 60vh;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 0 10px ;
}

#category-form{

    margin: 10px auto;
    padding: 12px;


}


legend {

    background-color: #fa8498;
    color: #fff;
    padding: 0.25rem 0.6rem;
    border-radius: 12px;
    display: inline-block;


}

fieldset {

    padding: 12px;
    border-radius: 12px;
    border: 3px solid #fa8498;
    margin: 6px 0 12px;

}

.category-btn{
    background-color: #fa8498;
    font-size: 0.8rem;
    color: #fff;
    padding: 0.25rem 0.65rem;
    border-radius: 8px;
    border: 2px solid  #fa8498;
    cursor: pointer;
    transition: background-color .15s ease, border-color .15s ease, transform .05s ease;

}

.category-btn:active{
    background-color: hotpink;
    border: solid 2px hotpink;
    transform: translateY(1px);
}


#grid{
    display: flex;
    flex-direction: column;   /* zvislo */
    justify-content: center;
    align-items: center;
    height: 70%;



}
.card {

    height: 30%;            /* alebo: height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 15px 0;

}


.card__img{
    height: 100%;

    object-fit: cover; /* dôležité, aby sa nevystrčil zo stredu */
    display: block;
    border: solid 2px #fa8498;
    border-radius: 10px;

}