*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url("images/satnik2_upscaled.png") no-repeat center center  / cover;

}

.containter {
    background: white;
    height: 90vh;
    width: 80vh;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 0 10px ;
}

#category-form{
    margin: 10px 10%;
    padding: 15px;

}


legend {
    background-color: pink;
    padding: 0.25rem;
    border-radius: 15px;

}

fieldset {
    padding: 15px;
    border-radius: 15px;
    border: solid 3px pink;
    margin: 5px;
}

.category-btn{
    background-color: pink;
    padding: 0.25rem;
    border-radius: 10px;
    border: solid 2px pink
}

.category-btn:active{
    background-color: hotpink;
    border: solid 2px hotpink
}


#grid{
    display: flex;
    flex-direction: column;   /* zvislo */
    justify-content: center;
    align-items: center;


}
.card {

    display: flex;
    justify-content: center;
    align-items: center;

}


.card__img{




    width: 100%;
    height: 200px;     /* nastav rovnakú výšku */
    margin: 15px 0;

    object-fit: cover; /* dôležité, aby sa nevystrčil zo stredu */
    display: block;
    border: solid 2px pink;
    border-radius: 10px;




}